# Porta do servidor da aplicação
PORT=3001

NODE_ENV=development

# ----------------------------------------------------------------------
# DATABASE_URL (Prisma ORM)
# ----------------------------------------------------------------------

# MySQL Local / Docker
DATABASE_URL="mysql://root:password@localhost:3306/StoreManager"
